# --- Inti web (Fase 1–2) ---
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.3

# --- Gambar & laporan (Fase 3–4) ---
Pillow>=10.0           # pemrosesan gambar + heatmap (mock & nyata)
reportlab>=4.0         # generate laporan PDF

# --- Integrasi model AI (Fase 3 - AKTIF) ---
tensorflow>=2.15        # loading 3 model .keras + inferensi
opencv-python>=4.8      # overlay heatmap Grad-CAM
numpy>=1.24
